services:
  - type: web
    name: facevital-flask
    runtime: python
    buildCommand: |
      pip install --upgrade pip
      apt-get update
      apt-get install -y gfortran libopenblas-dev liblapack-dev
      pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT --workers 2 --timeout 120
